span#title {
    font-size:20px;
    color:grey;
    border: 2px solid black;
    padding: 2px;
}

div > a {
    padding: 2px;
}

#border_collie img {
    float: right;
    width:100px;
    height:100px;
}
#bernese_mountain img {
    float: right;
    width:100px;
    height:100px;
}
#alaskan_malamute img {
    float: right;
    width:100px;
    height:100px;
}
