@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
font-family: 'Inconsolata', monospace;
}

body {
    padding: 0;
    margin: 0;
}

a {
    margin: 5px;
}

.currentPage {
    background-color:black;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#content {
    text-align:center;
}

#title {
    font-size:20px;
    color:grey;
    border: 2px solid black;
    text-align:center;
    display: inline-block;
    transition: background-color 500ms, color 500ms, transform 1500ms;
}

#title:hover {
    background-color:black;
    color: white;
}

#title:active {    
    transform: rotate3d(1,1,1,360deg);
}

#click {
    user-select: none;
    text-align:center;
    font-size:20px;
}

#nav {
    text-align:center;
}

#dogfact {
    text-align:center;
}

#click:hover {
    text-decoration: underline;
}

img#border_collie,  img#bernese_mountain, img#alaskan_malamute, img#golden_retriever, img#shetland_sheepdog {
    float: left;
    width: 15%;
    height: 15%;
    top: 10px;
    
    transition:transform 1000ms;
}

img#shiba{
    transition:transform 1000ms;
}

img:hover{
    transform: rotate3d(1,1,1,360deg);
}

#bernese, #border, #malamute, #golden, #shetland{
    float:left;
    width: 80%
}
