span#title {
    font-size:20px;
    color:grey;
    border: 2px solid black;
    padding: 2px;
}

div > a {
    padding: 2px;
}

img#border_collie {
    float: right;
    width:100px;
    height:100px;
}
img#bernese_mountain {
    float: right;
    width:100px;
    height:100px;
}
img#alaskan_malamute {
    float: right;
    width:100px;
    height:100px;
}
